<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="style.css">
    <title>Katan Blog</title>
</head>
<body>
    <header>
        <div class="headscrolling">
            <p>Here is where I am laying myself in the depth of despair. Ask me how I am doing. Care enough to text me?</p>
            <p>Here is where I am laying myself in the depth of despair. Ask me how I am doing. Care enough to text me?</p>
            <p>Here is where I am laying myself in the depth of despair. Ask me how I am doing. Care enough to text me?</p>
        </div>
        <div class="headscrolling">
            <p>Here is where I am laying myself in the depth of despair. Ask me how I am doing. Care enough to text me?</p>
            <p>Here is where I am laying myself in the depth of despair. Ask me how I am doing. Care enough to text me?</p>
            <p>Here is where I am laying myself in the depth of despair. Ask me how I am doing. Care enough to text me?</p>
        </div>
    </header>
    <section>
        <div class="content">
            <div class="hero">
                <h1>KATAN BLOG</h1>
                <nav>
                    <a href="#">HOME</a>
                    <a href="#">SHOP</a>
                    <a href="#">ABOUT ME</a>
                </nav>
            </div>
            <div class="posts">
                <h2>BLOG POSTS</h2>
                <div class="post">
                    <h3>where are the happiest people in this planet?</h3>
                    <b>By Maisha Maliha</b>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, quos sint culpa esse beatae, tempora iste quibusdam iure sapiente, aut nulla quasi doloremque ullam blanditiis fuga cumque vitae non veritatis.</p>
                    <b class="date">20/10/22</b>
                    <a href="#" class="postbtn">READ</a>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="profile">
                <div class="profilepic">
                    <img src="./media/circle-user.png" alt="">
                </div>
                <h4>WELCOME!! Maisha Maliha</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, sunt. Nobis consectetur recusandae asperiores repudiandae voluptates sunt, sapiente saepe delectus, nihil, minus voluptatibus inventore. Laudantium beatae iure quae amet dignissimos?</p>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>