<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/style.css">
    <link rel="stylesheet" href="../assets/style/nav.css">
    <title>Katan site</title>
</head>
<body>
    <header>
        <h1><span>Katan Site</span><span></span></h1>
        <nav>
            <a href="index.html">HOME</a>
            <a href="shop.html">SHOP</a>
            <a href="login.html">LOGIN</a>
            <a href="signup.html">SIGNUP</a>
        </nav>
    </header>
    <section>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore doloremque distinctio id beatae porro voluptatibus qui dolor, magnam, autem voluptates, laudantium neque enim! Tenetur, doloremque laudantium omnis ratione quis eum?
        </p>
        <article>
            <div class="post">
                
            </div>
        </article>
    </section>
</body>
</html>