<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/login.css">
    <link rel="stylesheet" href="../assets/style/nav.css">
    <title>Katan LOGIN</title>
</head>
<body>
    <header>
        <h1>Katan Site</h1>
        <nav>
            <a href="index.html">HOME</a>
            <a href="shop.html">SHOP</a>
            <a href="login.html">LOGIN</a>
            <a href="signup.html">SIGNUP</a>
        </nav>
    </header>
    <section>
        <div class="people">
            <img src="../assets/media/woman.png" alt="">
        </div>
        <div class="login">
            <h2>Heyo !! Welcome back..</h2>
            <form action="profile" method="post">
                <label for="name">User Name:</label>
                <input type="text" name="username" required>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
                <button type="submit">LOGIN</button>
            </form>
        </div>
    </section>
</body>
</html>