<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/signup.css">
    <title>Katan SIGNUP</title>
</head>
<body>
    <nav>
        <a href="index.html">HOME</a>
        <a href="login.html">LOGIN</a>
        <a href="signup.html">SIGNUP</a>
    </nav>
    <section>
        <div class="people">
            <img src="../assets/media/woman.png" alt="">
        </div>
        <div class="login">
            <h2>Come Join Us !!</h2>
            <form action="profile" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name" required>
                <label for="username">User Name:</label>
                <input type="text" name="username" required>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
                <label for="email">Email:</label>
                <input type="email" name="email" required>
                <label for="credit">Credit-Card Number:</label>
                <input type="number" name="cardnumber">
                <label for="birthday">Date of Birth:</label>
                <input type="date" name="" id="">
                <button type="submit">LOGIN</button>
            </form>
        </div>
    </section>
</body>
</html>